<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idn.doadzikir">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoaDzikir">

        <activity
            android:name=".QauliyahShalatActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SetiapSaatDzikirActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HarianDzikirDoaActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PagiPetangDzikirActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DetailArtikelActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DzikirPagiActivity"
            android:exported="true"
            android:theme="@style/PagiActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DzikirPetangActivity"
            android:exported="true"
            android:theme="@style/PetangActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"/>
    </application>

</manifest>